#section {
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(237, 238, 238) 24.5%, rgb(239, 239, 240) 66%);
    min-height: 100vh;
    padding: 20px 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section main:nth-child(1) {
    background: #4D6BAA;
    min-height: 70%;
    border-radius: 10px 0px 0px 10px;
    display: none;
}

#section main:nth-child(2) {
    background-color: #fff;
    border-radius: 10px;
    min-height: 80%;
    width: 36%;
    padding: 20px;
    box-shadow: -9px -9px 0px #d8d6d6,
    9px 9px 0px #8d8b8b;
}
#section main:nth-child(2)>main{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#section main:nth-child(2)>p{
   font-size:16px;
}
#section main:nth-child(2)>main p{
    font-size: 18px;
    font-weight: 400;
}
#section main:nth-child(2)>main p a{
    text-decoration: none;
}



@media (max-width:1216px)  and (min-width:1080px){
    #section main:nth-child(2) {
        width: 45%;
    }
}
@media (max-width:1080px)  and (min-width:936px){
    #section main:nth-child(2)  {
        width: 50%;
    }
}
@media (max-width:936px)  and (min-width:892px){
    #section main:nth-child(2) {
        width: 52%;
    }
}
@media (max-width:892px){
    #section main:nth-child(1)>img {
        display: none;
    }
}
@media (max-width:892px)  and (min-width:784px){
    #section {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        padding: 0 ;
        position: relative;
    }
    #section main:nth-child(1) {
        display: block;
        min-height: 200px;
        width: 100%;
        border-radius: 0;
    }
    
    #section main:nth-child(2) {
        background-color: #fff;
        position: absolute;
        top: 10%;
        border-radius: 10px;
        min-height: 60vh;
        width: 55%;
        padding: 20px;
        box-shadow: -9px -9px 0px #d8d6d6,
            9px 9px 0px #8d8b8b;
    }
}
@media (max-width:784px)  and (min-width:712px){
    #section {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        padding: 0 ;
        position: relative;
    }
    #section main:nth-child(1) {
        display: block;
        min-height: 200px;
        width: 100%;
        border-radius: 0;
    }
    
    #section main:nth-child(2) {
        background-color: #fff;
        border-radius: 10px;
        min-height: 60vh;
        width: 60%;
        position: absolute;
        top: 10%;
        padding: 20px;
        box-shadow: -9px -9px 0px #d8d6d6,
            9px 9px 0px #8d8b8b;
    }
}
@media (max-width:712px)  and (min-width:612px){
    #section {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        padding: 0 ;
        position: relative;
    }
    #section main:nth-child(1) {
        display: block;
        min-height: 200px;
        width: 100%;
        border-radius: 0;
    }
    
    #section main:nth-child(2) {
        background-color: #fff;
        border-radius: 10px;
        min-height: 60vh;
        width: 68%;
        position: absolute;
        top: 10%;
        padding: 20px;
        box-shadow: -9px -9px 0px #d8d6d6,
            9px 9px 0px #8d8b8b;
    }
}
@media (max-width:612px)  and (min-width:536px){
    #section {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        padding: 0 ;
        position: relative;
    }
    #section main:nth-child(1) {
        display: block;
        min-height: 200px;
        width: 100%;
        border-radius: 0;
    }
    
    #section main:nth-child(2) {
        background-color: #fff;
        border-radius: 10px;
        min-height: 60vh;
        width: 78%;
        position: absolute;
        top: 10%;
        padding: 20px;
        box-shadow: -9px -9px 0px #d8d6d6,
            9px 9px 0px #8d8b8b;
    }
}
@media (max-width:536px)  and (min-width:464px){
    #section {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        padding: 0 ;
        position: relative;
    }
    #section main:nth-child(1) {
        display: block;
        min-height: 200px;
        width: 100%;
        border-radius: 0;
    }
    
    #section main:nth-child(2) {
        background-color: #fff;
        border-radius: 10px;
        min-height: 60vh;
        width: 85%;
        position: absolute;
        top: 10%;
        padding: 20px;
        box-shadow: -9px -9px 0px #d8d6d6,
            9px 9px 0px #8d8b8b;
    }
}
@media (max-width:464px)  and (min-width:46px){
    #section {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        padding: 0 ;
        background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(237, 238, 238) 24.5%, rgb(219, 199, 181)66%);
        position: relative;
    }
    #section main:nth-child(1) {
        display: block;
        min-height: 200px;
        width: 100%;
        border-radius: 0;
    }
    
    #section main:nth-child(2) {
        background-color: #fff;
        border-radius: 10px;
        min-height: 60vh;
        width: 93%;
        position: absolute;
        top: 10%;
        padding: 20px;
        box-shadow: -9px -9px 0px #d8d6d6,
            9px 9px 0px #8d8b8b;
    }
}

.button {
    --color: #FFA34D;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}