.Navbar::-webkit-scrollbar {
    width: 5px;
}

.Navbar::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(175, 169, 169);
    border-radius: 10px;

}

.Navbar main a svg {
    font-size: 20px;
    color: black;
}

.Navbar>main>a:hover,
.activeClassName {
    background-color: #FAFAFA;
    transform: scale(1.001);
    color: blue;
    transition: ease-out 0.5s;
}

.Navbar>main>a:hover svg,
.activeClassName svg {
    color: blue;
}

#linkButton:hover>a {
    color: white !important;
}

@media (max-width:1275px) {
    .Navbar {
        display: none !important;
    }
}